* {
  box-sizing:border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-container {
    position: relative;
    width: 352px;
    height: 198px;
    outline: 1px soild #fff;

    transform: scale(3) translateY(50%);
}

.game-container canvas {
  image-rendering: pixelated;
}